.result-title {
  border: 8px dashed #E69F00;
  flex-grow: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.results-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
}

.recommendation-selection {
  border: 8px dashed #56B4E9;
  padding: 0px;
  box-sizing: border-box;
  width: 50%;
}

.recommendation-view {
  border: 8px dashed #009E73;
  padding: 10px;
  box-sizing: border-box;
  width: 50%;
}